.pitches-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.list-container {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  height: 730px;
  width: 800px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
